/* bootstrap carousel images*/
.sliderimage{
    width: 100%;
    max-height:510px;
}
.card{
    border-top:10px solid black;
    border-radius:0px;
    text-align: center;
}
.specialmember{
  width:130px;
  height:140px;
}
.membername{
  color:#ba4403;
  font-weight:500;
  font-size:17px;
}
.memberview{
  background-color:white;
  color:#0069D9;
  border:1px solid #0069D9;
  border-radius:0px;
  font-size:16px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.border-bottom{
    border-bottom: 2px solid black !important;
}
.aboutcolumn{
  background-color:whitesmoke;
  background-image: url('../../../assets/Images/about/about-section.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.abouthead{
  color: #1B426E;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 10px;
}
.abouttagline{
  font-size: 24px;
  font-weight: normal;
  color: #FF5916;
}
.aboutimg{
  width:100%;
  max-height:400px;
}
/* for parallex image */
section.module.parallax {
  height: 551px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color:yellow;
}
.parallexbrcolor{
  background: rgba(4, 28, 85, 0.67);
  width: 100%;
  float: left;
  height: 551px;
  padding: 30px 0px;
  text-align: center;
}
section.module.parallax-1 { background-image: url("../../../assets/Images/facts-statistics/facts-and-stats.jpg"); }
.counter{
  font-size: 70px;
}
.counterpara{
  color:white;
  font-size: 25px;
}
/* quote carousel */
.whatsay{
  color:#DF421E;
}
.whatsayimg{
  width: 100%;
  max-height:500px;
}
.carousel-indicators{
  height:100px;
}
.carousel-indicators li{
  width:50px;
  height:50px;
  border-radius:25px; 
  border: 1px solid white;
  background-color: transparent;
  transition: all .4s ease-in;
}
.whatsaycarousellist{
  width:50px;
  height:50px;
  border-radius:25px; 
  display: block;
  transition: all .4s ease-in;
}
.carousel-indicators li.active, .carousel-indicators li.active > img{
  width:100px;
  height:100px;
  border-radius:50px; 
}
/* QUICK LINKS SIDEBAR */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #1B4472;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 30px;
  margin-left: 50px;
  padding-top: 0%;
}
.quicklink{
  position:fixed;
  top:300px;
  left:-42px;
  z-index:900;
  transform: rotate(-90deg);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left:10px;
  padding-right:10px;
  background-color: #FFCE07;
  border: 0;
}
.quicklinkhead{
  font-size:28px;
  color:white;
  text-align:center;
  background-color: #0F243E;
  padding-top: 5px;
  padding-bottom: 5px;
}
.quicklinkhr{
  background-color: white;
  margin: 0%;
}