/* bootstrap carousel images*/
.sliderimage{
    width: 100%;
    max-height:510px;
}
.card{
    border-top:10px solid black;
    border-radius:0px;
}
.border-bottom{
    border-bottom: 2px solid black !important;
}
.aboutimg{
  width:100%;
  max-height:400px;
}
/* for parallex image */
section.module.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color:yellow;
}
section.module.parallax-1 { background-image: url("../../../assets/Images/Slider/Lighthouse.jpg"); }
.counter{
  font-size: 70px;
}
.counterpara{
  color:white;
  font-size: 25px;
}
/* quote carousel */
.whatsay{
  color:#DF421E;
}
.whatsayimg{
  width: 100%;
  max-height:500px;
}
.carousel-indicators{
  height:100px;
}
.carousel-indicators li{
  width:50px;
  height:50px;
  border-radius:25px; 
  border: 1px solid white;
  background-color: transparent;
  transition: all .4s ease-in;
}
.whatsaycarousellist{
  width:50px;
  height:50px;
  border-radius:25px; 
  display: block;
  transition: all .4s ease-in;
}
.carousel-indicators li.active, .carousel-indicators li.active > img{
  width:100px;
  height:100px;
  border-radius:50px; 
}